<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRJ || Templates</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <header>
        <h1 class="logo"><a href="../index.html">DRJ</a></h1>
        <nav>
            <ul class="nav-area">
                <li>
                    <a href="../index.html">HOME</a></li>
                <li>
                    <a href="../construction/uc.html">ABOUT US</a></li>
                <li>
                    <a href="../main/contactus.html" target="_blank">CONTACT US</a></li>
                <li>
                    <a href="./index.html">TEMPLATES</a></li>
            </ul>
        </nav>
        <a href="../construction/uc.html" class="btn-area">LOG IN</a>
    </header>



    <section class="container">

        <div class="temp">
            <h1><span class="auto-type" style="font-size:32px "></span></h1>
            <p>Here are some of templates select any one of them.</p>

            <br>
            <br>
            <br>
        </div>

        <div class="temp-boxes">
            <div class="box1">
                <div class=" temp-box">
                    <a href="./d_1/index.html" target="_blank"><img src="../construction/1.png" alt="imageOfTempleOne"></a>
                </div>
            </div>
            <div class="box2">
                <div class=" temp-box">
                    <a href="./d_2/d1.html" target="_blank"><img src="../construction/2.png" alt="imageOfTempleTwo"></a>

                </div>
            </div>
            <div class="box3">
                <div class=" temp-box">
                    <a href="./d_3/index.html" target="_blank"><img src="../construction/3.png" alt="imageOfTempleThree"></a>
                </div>
            </div>
            <div class="box4">
                <div class=" temp-box">
                    <a href="./d_4/index.html" target="_blank"><img src="../construction/4.png" alt="imageOfTempleFour"></a>
                </div>
            </div>
            <div class="box5">
                <div class=" temp-box">
                    <a href="./d_5/index.html" target="_blank"><img src="../construction/5.png" alt="imageOfTempleFive"></a>
                </div>
            </div>
            <div class="box6">
                <div class=" temp-box">
                    <a href="./d_6/index.html" target="_blank"><img src="../construction/6.png" alt="imageOfTempleSix"></a>
                </div>
            </div>

        </div>


    </section>

    <div class="show-btn">
        <!-- <a href="#" class="btn-1">Show All</a> -->
        <button class="btn-temp"><a href="#" >Show All ></a></button>
    </div>







    <footer class="ftr">
        <div class="box-1">
            <h1 class="logo"><a href="../index.html">DRJ</a></h1>
            <p> <span>&#169</span> 2022 D-ResumeJunction.netlify.app <br> All rights reserved.</p>
        </div>
        <div class="box-2">
            <ul>
                <li><a target="_blank" href="https://novoresume.com/career-blog/resume-examples">Resume Example</a></li>
                <li><a href="../index.html">Resume Builder</a></li>
                <li><a href="../construction/uc.html">About Us</a></li>
                <li><a target="_blank" href="../main/privacy.html">Privacy Policy</a></li>
                <li>
                    <a href="../main/contactus.html" target="_blank">Contact Us</a></li>
                <li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".auto-type", {
            strings: ["Templates..."],
            typeSpeed: 70,
            backSpeed: 20,
            loop: true
        });
    </script>
</body>

</html>